{% extends "layout.html" %}
{% block content %}

<h1 class="mb-3">Productos</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('clientes')}}">Ver Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('registrar_clientes')}}">Registrar</a>
  </li>
</ul>
<div class="content-section border-top-0 pt-3">
  <form method="POST" enctype="multipart/form-data" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Información del producto</legend>
      <div class="form-group">
        {{ form.nombre.label(class="form-control-label") }}
        {% if form.nombre.errors %}
        {{ form.nombre(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.nombre.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.nombre(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.cedula.label(class="form-control-label") }}
        {% if form.cedula.errors %}
        {{ form.cedula(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.cedula.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.cedula(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.direccion.label(class="form-control-label") }}
        {% if form.direccion.errors %}
        {{ form.direccion(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.direccion.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.direccion(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.telefono.label(class="form-control-label") }}
        {% if form.telefono.errors %}
        {{ form.telefono(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.telefono.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.telefono(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group input-group mt-5">
        <div class="input-group-prepend">
          {{ form.hidden_tag() }}
          {{ form.fotografia.label(class="form-control-label input-group-text") }}
        </div>
        <div class="custom-file">
          {% if form.fotografia.errors %}
            {{ form.fotografia(class="form-control form-control-lg custom-file-input is-invalid", id="inputGroupFile01") }}
            <div class="invalid-feedback">
              {% for error in form.fotografia.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.fotografia(class="form-control form-control-lg custom-file-input", id="inputGroupFile01") }}
          {% endif %}
          <label class="custom-file-label" for="inputGroupFile01" >Escoger archivo</label>
        </div>
      </div>
      
      
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>


{% endblock content %}