  
{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Facturas</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{url_for('facturas')}}">Mis facturas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('registrar_facturas')}}">Registrar</a>
    </li>
</ul>
<div class="content-section border-top-0 pt-3">
    {% for factura in lista_de_facturas %}
        <article class="media content-section ">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="facturas/editar/{{facturas.id}}"> {{ factura.id }}</a>
                    <small class="text-muted">{{ factura.fecha }}</small>
                </div>
                <h2> {{ factura.valor_total }}</h2>
                <h4 class="article-title" >{{ factura.metodo_pago }}</h2>
            </div>
        </article>
    {% endfor %}
</div>

{% endblock content %}